[report]
# The test coverage you require.
fail_under = 100

exclude_lines =
  # Make it possible to ignore blocks of code
  pragma: no cover
  # Generally only debug code uses this
  def __repr__


[run]
branch = True
omit = core/asgi.py
       core/wsgi.py
