<!DOCTYPE html>
{% load i18n %}
{% load bootstrap5 %}
{% bootstrap_css %}

<html lang="fr" class="container">
  <head>
    <title>{% block title %}CrowdDjango{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
  </head>

  <body class="container">
    {% include 'navbar.html' %}
    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
    {% bootstrap_javascript %}
  </body>
</html>
