<!DOCTYPE html>
{% load i18n %}

<html lang="fr">
  <head>
    <title>{% block title %}CrowdDjango{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>

  <footer>
    <form action="{% url 'set_language' %}" method="POST">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language">
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as langs %}
        {% for lang in langs %}
        <option value="{{ lang.code }}"
                {% if lang.code == CURRENT_LANGUAGE %}selected{% endif %}>
            {{ lang.name_local }} ({{ lang.code }})
          </option>
        {% endfor %}
      </select>
      <input type="submit" value="Go">
  </footer>
</html>
