{% extends 'base.html' %}
{% load i18n %}
{# Translators: Browser title for the subscriptions dashboard page #}
{% block title %}{% translate "Subscriptions" %}{% endblock %}

{% block content %}

{# Translators: Title for the subscriptions dashboard page content #}
<h1>{% translate "Your Subscriptions" %}</h1>

{% if object_list %}
  <ul>
    {% for subscription in object_list %}
    <li>
      <a href='{% url 'investments:subscription_detail' subscription.id %}'>
        {{subscription.amount}}
      </a>
    </li>
    {% endfor %}
  </ul>
{% else %}
{% translate "You have not subscribed to any fund" %}
{% endif %}

{% endblock %}
